@import "./variables";
@import "./mixins";

// Thiết lập font cho toàn trang
body {
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $text-color;
}

// Quy định tiêu đề (Headings)
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $heading-font;
//   color: $heading-color;
//   font-weight: bold;
//   line-height: 1.2;
// }

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}
